@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style-type: none;
    
}

body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
   
 
   
}

:root{
    --color-primary: #2C5F2D;
    --color-secondary: #8fb68f;
    --color--white: rgb(255, 255, 255);
    --color-text: #333333;
    --color--lightcontrast: #3a3939;
    --primary-green: #2C5F2D;
    --accent-green: #6B8E23;
    --soft-background: #F5F5DC;
    --wood-brown: #8B5A2B;
    --light-green: #A8B5A2;
    --text-white: #FDFDFD;



    --container-w-lg: 84%;
    --container-w-md: 95%;

    
}

/* h1, h2, h3 h4, h5, h6 {

} */




.container{
    width: var(--container-w-lg);
    margin-inline: auto;
}


nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    height: 90px;
    background-color: var(--color--white);
    z-index: 600;
    text-transform: capitalize;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    /* display: none; */
    border-bottom: 5px solid var(--color-primary);
    color: var(--color-text);
    
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    margin-left: 1rem;
  
}


.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    
}

.nav-links a{
    text-decoration: none;
    color: var(--color-contrast);
    position: relative;
    
}

.nav-links a:hover{
    color: var(--color-secondary);
}



.nav-links a:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--color-primary);
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.nav-links a:hover:after{
    width: 100%;
}




.nav-links a.active::after{
    width: 100%;
} 

.nav-container .menu{
    color: var(--color--white);
    font-size: 1.3rem;
    display: none;
}

.menu-buttons{
    /* display: flex;
    margin-left: 50px;
    color: var(--color-text);
    display: none;
    align-items: center;
    justify-content: center; */
}




.open-menu{
    display: flex;
    font-size: 1.7rem;
    display: none;
}


.search-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    width: fit-content;
    z-index: 200;
}

.search-container input{
    background-color: transparent;
    width: 120px;
    transition: 0.3s ease;
    color: var(--color-contrast);
    z-index: 200;
}

.search-container input::placeholder{
    color: var(--color-contrast);
}

.search-container input:focus{
    width: 250px;
}

.search-user-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: var(--color-contrast);
    cursor: pointer;
    top: 90px;

}

.search-container-mobile{
    display: none;
}


.search-container-mobile .input-mobile{
    border: 2px solid var(--color-primary);
    
}

.user-profile{
    position: relative;
    display: inline-block;
}



.shopping-cart .cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.2rem;

}

.order-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red; /* Or any color to stand out */
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.drop-down-menu{
    background-color: var(--color--white);
    color: var(--color-text);
    padding: 20px;
    position: absolute;
    min-width: 300px;
    width: 320px;
    font-size: 16px;
    top: 100%;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-origin: top right ;
    pointer-events: none;
    border-radius: 3px;
    display: flex;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
  
}

.user:hover .drop-down-menu{
    opacity: 1;
    visibility: visible;
    display: flex;
}

.drop-down-content{
    width: 100%;
   
}

.sign-in-register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--color--lightcontrast);
  
}

.sign-in-register button {
   padding: 12px 30px;
   margin-bottom: 10px;
  width: 100%;
}

.sign-in-btn{
    font-size:2 ;
   
}




.text{
    display: flex;
    gap: 10px;
    margin: 2rem auto;
    color: var(--color-contrast);
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* border-radius: 50%; */
    cursor: pointer;
    transition: 0.3s;
    z-index: 11;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}


footer{
  
    padding: 30px;
    width: 100%;
    background-color: var(--color-primary);
    margin-top: 50px;

    
 
}

.footer-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;


}

.footer-links a{
    color: white;
    text-align: none;
    text-decoration: none;
} 




.footer-titles{
    color: var(--color--white);
    font-style: italic;
    margin-bottom: 20px;
}



.footer-address p{
    line-height: 35px;
}

.helping-text{
    margin-top: 24px;
    font-size: .8rem;
    font-style: italic;
}


.footer-socials{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
 
    
}

.socials{
    display: flex;
    gap: 20px;
}

.socials i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color--white);
    margin-top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    color: var(--accent-green);
}

.copyright{
    margin-top: 50px;
    color: gray;
}




/* =====================MEDIA QUERIES================== */

@media (width < 1000px) {

    .logo{
        font-size: 1.2rem;
    }
    .nav-links{
        font-size: 0.9rem;
    }
}


@media(width < 874px){
    nav{
        position: fixed;
        /* height: 60px;
        position: relative; */
    }

    .logo-container{
        display: flex;
    }

    .logo{
        font-size: 1.2rem;
       
    }


    .nav-links{
        position: absolute;
        flex-direction: column;
        background-color: var(--color--white);
        top: 90px;
        left: -100%;
        width: 80%;
        padding: 2rem 0;
        border-right: 3px solid var(--color-primary);
        border-bottom: 3px solid var(--color-primary);
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        transition: left 0.35s ease-in-out;
     
    }

    .nav-links::after{
        content: x;
        width: 200px;
        background-color: red;
        position: absolute;
        right: 0;
    }

   .nav-links:hover a::after{
    width: 0;
   }

  
   .open-menu{
    display: flex;
    font-size: 1.3rem;
   }

 
   .search-user-cart{
    display: flex;
   }

   .nav-links.active{
    display: flex;
    left: 0;
   }

   .arrow{
    display: none;
   }

   .copyright{
    font-size: 0.8rem;
 
}
}


@media(width < 700px){

  
    .logo{
        font-size: 1.1rem;
    }
    .search-container{
        border: none;
    }

    .search-container-mobile{
        display: flex;
        position: absolute;
        right: 0;
        top: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        background-color: transparent;
        z-index: 4000;  transition: 0.3s ease-in;
       
    }

    .input-mobile{
        padding: 15px 10px;
        width: 90%;
        display: none;
       transition: 0.3s ease-in;
       max-height: 0;
       overflow: hidden;
       transition: max-height 0.3s ease;
    }

    .input-mobile.active{
        display: block;
        max-height: 100px; /* or more depending on your content */
        opacity: 1;
        transition: 0.3s ease-in;
      
    }
        

    .search-container input{
        display: none;
        max-height: 100px;
        
    }

    .user,
    .user,
    .user-profile
    {
        font-size: 1rem;
    }

  

    .order-count{
        background-color: green;
        padding: 1px;
    }

    .footer-section{
        display: grid;
        grid-template-columns: 1fr;
       
    }

 
   .copyright{
        font-size: 0.8rem;
        text-align: center;
    }


 
}


