.product-page{
    padding: 5% 0;
    height: 100vh;
}



.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro h1{
    font-size: 2rem;
    margin-top: 2.5rem;
}

.intro p{
    color: var(--color-contrast);
    margin-top: 1rem;
}

.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: var(--color-primary);
    border-radius: 8px;
    padding: 3rem;
    overflow: hidden;
}

.discount-text{
    color: var(--color--white);
    font-size: 1.6rem;
}

.filterBtnContainer{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
  
    
}

.filter-btn{
    padding: .7rem 1.4rem;
    cursor: pointer;
    font-size: .8rem;
   
}




.card{
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding-bottom: .4rem ;
    cursor: pointer;
   
}

.cards-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
   
    
}

.imge-container{
   width: 100%;
   overflow: hidden;
 
  /* padding: 3rem; */
}



.card img{
    /* max-width: 400px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in;
}


.card .info{
    text-align: center;
     padding: .8rem;
}

.title{
    margin: .5rem 0;
}

.subtitle{
    margin: .5rem 0;
}

.price-favorite{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    padding: .6rem 0;
    font-weight: bold;
 
}

.favorite{
    color: black;
    cursor: pointer;
}

.favorite.active{
    color: red;
    font-weight: bold;
}

.addToCartbtn{
    width: 100%;
    padding: .8rem;
    background-color: var(--color-primary);
    color: var(--color--white);
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s ease-in-out;

}

.addToCartbtn:hover{
    background-color: var(--accent-green);
}

@media(width < 898px){

     .product-page{
        padding: 10% 0;
        height: 100vh;  
    }
 
    .intro h1{
        font-size: 1.2rem;
    }

    .intro p{
        color: var(--color-contrast);
        margin-top: 1rem auto;
        font-size: 0.9rem;
        text-align: center;
    }
    

    .filter-container{
      
        padding: 20px;
    }
    .filterBtnContainer{
        gap: 5px;
        margin: auto;
        
    }

    .filter-btn{
        padding: 3px 10px;
        font-size: .7rem;
    }

    .discount-text{
        font-size: 1rem;
        display: none;
    }

    .card{
       
    }

    .cards-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
       
    }



    .title{
        font-size: 0.8rem;
        margin: .1rem;
    }

    .subtitle{
        font-size: 0.7rem;
        margin: .1rem;
    }

    .price{
        padding: .5rem 0;
    }

    .addToCartbtn{
        padding: .5rem ;
        border-radius: 10px;
        font-size: .9rem;
    }
}

@media(width < 500px){
   .product-page{
        padding: 20% 0;
        height: 100vh;  
    }
}